

.underlined-text {
  text-decoration: underline;
  text-decoration-color: #4b81b4;
}

.syntax {
  margin: 20px 0 5px;

  font-family: ComfortaaL, sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

.pre {
  display: block;
  margin: 0;
  padding: 0;

  line-height: 0;
}

.pre1 {
  display: block;
  margin: 0;
  padding: 0;
  direction: ltr;
  
}

.code {
  float: left;
  border-radius: 8px;
  padding: 16px;
  min-width: 100%;
  box-sizing: border-box;

  background-color: #1f1f1f;
}
.code1 {
  float: left;
  border-radius: 8px;
  min-width: 100%;
  padding: 16px;
  box-sizing: border-box;

  background-color: #803b3b;
}

.token-line {
  display: flex;
}

.token {
  font-family: ZillaL, sans-serif;
  font-size: 18px;
  line-height: 1.19;
}

.plain {
  color: #fff;
}

.operator {
  color: #808080;
}

.tag {
  color: #679ad1;
}

.art-name {
  color: #aadafa;
}

.art-value {
  color: #f6a171;
}

.art-unitNumer {
  color: #bacdab;
}

.codeBlockContent_biex {
  height: auto;
}
