.titleQrcode {
    display: block;
    max-width: 1320px;
    margin: auto;
    font-family: ComfortaaL, sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    text-align: center;
}

.accentqrcode {
    color: #eb7c7c;
}

.qrcode {
    display: block;
    margin: auto;
    max-width: 500px;
}